/* SPECIFICATION */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#ecf6f0;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
    align-items: stretch
}

.section {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    width: 49%;
}

.section-title {
    text-transform: uppercase;
    margin-bottom: 30px;
}

.list__item {
    padding: 14px 0;
}

.content-img {
    width: 49%;
}

.picture {
    width: 100%;
    border-radius: 10px;
}

.content-text {
    width: 49%;
}

.wrapper-content {
    width: 400px;
    margin: auto;
}

.pre {
    margin: 0;
    padding: 0;
}

/* HEADER */
.header {
    background-color:#bfdbc8;
}

/* .nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
} */

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
}

.nav-list__item {
    font-size: 14px;
    padding: 20px 20px;
    display: block;
    border-bottom: 2px solid rgba(255,255,255,0);
    margin-bottom: -2px;
}

.nav-list__item:hover{
    border-bottom: 2px solid #97b3a0;
}

/*MAIN*/
.profile {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 6px rgba(34, 60, 80, 0.2);
}

.profile-title {
    text-transform: uppercase;
}

.subtitle {
    margin-top: 30px;
}

/* Projects */
.wrapper-projects {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 5px;
}

.project-img {
    width: 49%;
    border: #000 solid 1px;
    border-radius: 10px;
}

.education, .languages {
    border-bottom: none;
}

/* FOOTER */
.footer {
    width: 100%;
    background-color:#bfdbc8;
}

.footer-container {
    align-items: center;
}

.github {
    text-transform: uppercase;
}

.logo {
    width: 100px;
    height: 60px;
}